org.gradle.jvmargs=-Xmx2048m

RELEASE_STORE_FILE=release.jks
RELEASE_KEY_ALIAS=alias
RELEASE_STORE_PASSWORD=${RELEASE_PASSWORD}
RELEASE_KEY_PASSWORD=${RELEASE_PASSWORD}

DEBUG_STORE_FILE=debug.jks
DEBUG_KEY_ALIAS=alias
DEBUG_STORE_PASSWORD=${DEBUG_PASSWORD}
DEBUG_KEY_PASSWORD=${DEBUG_PASSWORD}
